@tailwind base;
@tailwind components;
@tailwind utilities;

.accent-link {
  transition: border 0.2s ease-in;
  border-bottom: 1px transparent;
}

.accent-link:hover {
  transition: border 0.2s ease-in;
  border-bottom: 1px solid;
}
